/* html {
  background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-dog-paws-hand-lettering-vector-illustration_521637-33.jpg?w=2000);
} */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&family=Quicksand&display=swap');

.App {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  font-size: 30px;
  background-color: #29191a;
  color: #eeba30;
}

select {
  height: 35px;
  background-color: #eeba30;
  border-radius: 5px;
  margin-left: 4px;
}

.search {
  display: flex;
  align-items: center;
}

.description, .success {
  background-color: #eeba30;
  padding: 50px;
}

.successImg {
  border-radius: 5px;
  transform: scale(1);
  float:right
  
}

p {
  text-align: justify;
}

.main {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  object-fit: cover;
  color: white;
  text-align: center;
  /* width: 250px; */
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #29191ae6;
}
.card img {
    width:  auto;
    height: 300px;
  border-radius: 5px;
}

.animalname{
  font-family: 'Quicksand', sans-serif;
}
button, .submitBtn {
  
 float: right;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #eeba30;
  color: #fff;
  background-color: #eeba30;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
 
  

}

button:hover, select:hover, .submitBtn:hover {
  background: 0 0;
      color: #eeba30;
  
}

.card:hover {
  opacity: 0.9;
}

.supportedBtn {
  height: 35px;  
}


