html {
  background-image: url(https://media.istockphoto.com/id/487569919/vector/paw-print-pattern.jpg?s=612x612&w=0&k=20&c=TEjB0MXlZG6nHGqOuthe4gMLgRsQbbMd9Azzp65ufQg=);
}

.App {
  text-align: center;
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  
  font-size: 30px;
  background-color: #29191a;
  color: #eeba30;
}

.main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
